.materials-icon.md-100 { font-size: 100px; } 

.header {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.header h1 {
    font-size: 40px;
    margin: 0;
    font-weight: 600;
}